<?xml version="1.0"?>
<!--/**
 * @package     BlueAcorn/CreateWebsites
 * @version     1.0.1
 * @author      Blue Acorn, Inc. <code@blueacorn.com>
 * @copyright   Copyright © 2018 Blue Acorn, Inc.
 */-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="BlueAcorn_CreateWebsites" setup_version="1.0.0">
    </module>
</config>